.mytable {
  width: 100%;
  max-width: 900px;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.mytable th,
.mytable td {
  padding: 18px;

  text-align: left;
  border: 1px solid #ccc;
}

.mytable th {
  color: aliceblue;
  font-weight: bold;
  background-color: rgba(13, 40, 85, 0.6);
}

.mytable tr:first-child {
  background-color: rgb(13, 40, 85, 0.5);
}
.mytable tr:last-child {
  background-color: rgb(13, 40, 85, 0.2);
}
.mytable tr:nth-child(2) {
  background-color: rgb(13, 40, 85, 0.4);
}
.mytable tr:nth-child(3) {
  background-color: rgb(13, 40, 85, 0.3);
}

.mytable tbody tr td:not(:first-child) {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.mytable td[rowspan] {
  vertical-align: middle;
  border: none;
}
