.container {
  overflow: hidden;
  width: 100%;
  padding: 5%;
}
table {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #ffffff;
  border-left: 1.5px solid rgb(0, 0, 0);
  border-top: 1.5px solid rgb(0, 0, 0);
}
thead {
  border-radius: 4px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
th,
td {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
}

th {
  text-align: left;
}
td {
  border-right: 1px solid rgb(0, 0, 0);
  transition: all ease 350ms;
}
th {
  border-right: 1px solid rgb(0, 0, 0);
}
thead th {
  background-color: #ffffff;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
td:hover {
  background-color: rgba(49, 29, 29, 0.363);
}
td {
  position: relative;
}
td:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

@media screen and (max-width: 400px) {
  .container {
    padding: 15px;
    padding-bottom: 0;
  }
  td {
    padding: 7px;
    font-size: 0.6rem;
  }
  td:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 769px) {
  /* Dispositivos de mayor tamaño */
  td:nth-child(n + 4) {
    display: none;
  }
  .container {
    padding: 15px;
  }
}
